{% load i18n %}
{% with id=widget.attrs.id %}
<div
	{% if id %} id="{{ id }}"{% endif %}
	{% if widget.attrs.class %} class="{{ widget.attrs.class }}"{% endif %}
>
	<input type="radio" name="{{ widget.name }}"
		{% if id %}id="{{ id }}-or"{% endif %}
		class="btn-check"
		value="false"
		required
		{% if not widget.attrs.checked %} checked {% endif %}
	/>
	<label
		class="btn btn-outline-secondary"
		{% if id %} for="{{ id }}-or"{% endif %}
		{% for name, value in widget.attrs.or.items %}
			{% if value is not False %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}
		{% endfor %}
	>
		OR
	</label>

	<input type="radio" name="{{ widget.name }}"
		{% if id %}id="{{ id }}-and"{% endif %}
		class="btn-check"
		value="true"
		{% if widget.attrs.checked %} checked {% endif %}
	/>
	<label
		class="btn btn-outline-secondary"
		{% if id %} for="{{ id }}-and"{% endif %}
		{% for name, value in widget.attrs.and.items %}
			{% if value is not False %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}
		{% endfor %}
	>
		AND
	</label>
</div>
{% endwith %}
{% with ht=widget.attrs.helptext %}
{% if ht %}
<a
	tabindex="0"
	class="btn btn-sm help-btn"
	role="button"
	data-bs-toggle="popover"
	data-bs-trigger="focus hover"
	data-bs-placement="auto"
	data-bs-html="true"
	title="{{ ht.title }}"
	data-bs-content="{{ ht.content }}"
	aria-label="{% trans 'Show instructions' %}"
>
	<i class="bi bi-question-circle-fill" aria-hidden="true"></i>
	<span class="visually-hidden">{% trans 'Show instructions' %}</span>
</a>
{% endif %}
{% endwith %}
